* {
    margin: 0;
    padding: 0;
}

.main {}






/* header open */
.header {
    background: #D9D9D9;
    width: 1920px;
    height: 156px;
    display: flex;
}

.logo {}

.nav {
    background: #809AD2;
    width: 1241px;
    height: 156px;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
}

.nav ul {
    width: 1378px;
    height: 91px;
    display: flex;
}

.nav ul li {
    background: #84E0F3;
    width: 220px;
    height: 91px;
    border-radius: 25px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rulSkill {
    background: #84E0F3;
    width: 220px;
    height: 91px;
    border-radius: 25px;
}

.rulerSkill {
    background: #8ECAFF;
    width: 220px;
    height: 144px;
    border-radius: 25px;
}

.rulAbout {
    background: #84E0F3;
    width: 220px;
    height: 91px;
    border-radius: 25px;
}

.rulerAbout {
    background: #8ECAFF;
    width: 220px;
    height: 144px;
    border-radius: 25px;
}

.nav ul li a {
    color: #312669;
}

/* .header close */











/* footer open  */
.footer {}

.contacts {}

.contacts .nav ul {}

.contacts .nav ul li {}

.contacts h1 {}

.contacts p {}

/* footer close  */













/* Visitks open  */
.visitka {
    background-image: url("https://github.com/SashaCoders/My-portfolio/blob/Vizytka/ArrowsAboutMine.svg");
    width: 100%;
    height: 100%;
}

.visitka h1 {}

.visitka h2 {}

.visitka p {}

#vidgyki {}

#vidgyki h1 {}

#vidgyki .conteiner {}

#vidgyki .conteiner #leftArrow {}

#vidgyki .conteiner #leftArrow .imgVidgyk {}

#vidgyki .conteiner #leftArrow .imgLeftArrow {}

#vidgyki .conteiner #leftArrow .imgRightArrow {}

#vidgyki .conteiner .persen {}

#vidgyki .conteiner .persen img {}

#vidgyki .conteiner .persen h3 {}

#vidgyki .conteiner .persen p {}

/* Visitks close  */