* {
    margin: 0;
    padding: 0;
}

.main {}














/* header open */
.header {}

.logo {}

.nav {}

.nav ul {}

.nav ul li {}

.nav ul p li {}

/* .header close */











/* footer open  */
.footer {}

.contacts {}

.contacts .nav ul {}

.contacts .nav ul li {}

.contacts h1 {}

.contacts p {}

/* footer close  */

/* Lihenzii open */
.Lihenzii {}

.Lihenzii h2 {}

.Lihenzi .card-lih {}

.Lihenzi .card-lih div {}

.Lihenzi .card-lih div img {}

.Lihenzi .card-lih div p {}

.sertficatu {}

.sertficatu h2 {}

.sertficatu .card-ser {}

.sertficatu .card-ser div {}

.sertficatu .card-ser div img {}

.sertficatu .card-ser div p {}

/* Lihenzii close */