* {
    margin: 0;
    padding: 0;
}

.main {}














/* header open */
.header {}

.logo {}

.nav {}

.nav ul {}

.nav ul li {}

.nav ul p li {}

/* .header close */











/* footer open  */
.footer {}

.contacts {}

.contacts .nav ul {}

.contacts .nav ul li {}

.contacts h1 {}

.contacts p {}

/* footer close  */






/* Links open */

.card-link {}

.card-link a {}

.card-link a div {}

.card-link a div p {}


.Links-robocode {}

.Links-robocode .card-link {}

.Links-robocode .card-link a {}

.Links-robocode .card-link a div {}

.Links-robocode .card-link a div p {}


.Links-CW-p5 {}

.Links-CW-p5 .card-link {}

.Links-CW-p5 .card-link a {}

.Links-CW-p5 .card-link a div {}

.Links-CW-p5 .card-link a div p {}


.Links-f-l {}

.Links-f-l .card-link {}

.Links-f-l .card-link a {}

.Links-f-l .card-link a div {}

.Links-f-l .card-link a div p {}


.Links-site {}

.Links-site .card-link {}

.Links-site .card-link a {}

.Links-site .card-link a div {}

.Links-site .card-link a div p {}

/* Links close */

