
* {
    margin: 0;
    padding: 0;
}

.main {}














/* header open */
.header {}

.logo {}

.nav {}

.nav ul {}

.nav ul li {}

.nav ul p li {}

/* .header close */











/* footer open  */
.footer {}

.contacts {}

.contacts .nav ul {}

.contacts .nav ul li {}

.contacts h1 {}

.contacts p {}

/* footer close  */





/* Skill open */
.skills {}

.skills h2 {}

.skills .skil {}

.skills .skil p {}

.skills .language {}

.skills .framefork {}

.skills .library {}

.skills .programs {}

/* Skill close */


